button {
    margin-top: 20px;
    
}

#taulell{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
}


body{
    text-align: center;
    justify-content: center;
    background-color: #2B2A33;;
}